<ion-header>
  <ion-toolbar>
    <ion-title>Man City Crest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>Club History</h2>

<h6> 
  Founded in 1880 as St. ... Mark's (West Gorton), it became Ardwick Association Football Club in 1887 and Manchester City in 1894. The club's home ground is the Etihad Stadium in east Manchester, to which it moved in 2003, having played at Maine Road since 1923.Man citys all time top goal scorer is Sergio Aguero with 181 goals.

<img src = "https://resources.premierleague.com/premierleague/photo/2020/10/21/131abbf9-cfd4-45ab-a2b3-032b3faf918e/Sergio-Aguero.jpg">
</h6>
</ion-content>
