<ion-header>
  <ion-toolbar>
    <ion-title>Man Utd's Crest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2> Club History</h2>

<h6>
  The team first entered the English First Division, then the highest league in English football, for the start of the 1892-93 season. Our club name changed to Manchester United Football Club in 1902, and we won the first of our 20 English League titles in 1908. In 1910, we moved to Old Trafford, our current stadium.Their all time top goal scorer is Wayne Rooney who has 253.

  <img src = "https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/07/09/16/wayne-rooney-2004.jpg?width=1200">
</h6>
</ion-content>
