<ion-header>
  <ion-toolbar>
    <ion-title>Chelsea Crest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>Club History</h2>

<h6> 
  On March 10th 1905, Chelsea Football Club was founded in The Rising Sun pub on Fulham Road. Just a year before that, businessman Gus Mears had purchased the Stamford Bridge athletics complex and was looking to turn it in to a football ground.Frank Lampard is Chelseas highest goal scorer with 211 goals.

<img src = "https://tmssl.akamaized.net/images/foto/normal/frank-lampard-chelsea-1599653244-46999.jpg?lm=1599653250">
</h6>
</ion-content>
