<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Premier League Teams For the Season 2020/21
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Premier League Teams For the Season 2020/21</ion-title>
    </ion-toolbar>
  </ion-header>
<h6>If you want to find out more information about each individual club simply click on them...... </h6>
  <ul>
    <li [routerLink] = "['/man']" routerDirection = "forward">Man City</li>
    <li [routerLink] = "['/arsenal']" routerDirection = "forward">Arsenal</li>
    <li [routerLink] = "['/spurs']" routerDirection = "forward">Spurs</li>
    <li [routerLink] = "['/chelsea']" routerDirection = "forward">Chelsea</li>
    <li [routerLink] = "['/manutd']" routerDirection = "forward">Man Utd</li>
  </ul>
<h6>Flashlight</h6>
<ion-button (click) = "Flashlight()">Flashlight</ion-button>

<h6>GPS</h6>
<ion-button (click) = "GPS()">GPS</ion-button>
<br>
{{lat}}, {{long}}
</ion-content>
